@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200&family=Quicksand:wght@300&display=swap');


body {
    margin:  0;
    padding:  0;
    width: 100%;
    height: 100%;
}

.App-container {
    background-color: #FBFBFF;
    width: 100%;
    height: 100%;
    position: relative;
    margin:  0;
    padding:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.main-container {
    width: 100%;
    height: 110vh;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    margin:  0;
    padding:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.form-container {
    width: 100%;
    position: relative;
    margin:  0;
    padding:  0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(26, 105, 179);
    border-bottom: #FBFBFF 1px solid;
}

.form {
    display: flex;
    width: 100%;
    position: relative;
    margin:  .3em 0 0 0;
    padding:  0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-input {
    background-color: #FBFBFF;
    width: 400px;
    position: relative;
    margin:  0;
    padding:  .2em 0 .2em .2em;
    margin: 0 0 1em .1em;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    border: 1px solid #aaaaaa;
    color: rgb(0, 0 ,0);
    outline: none;
}

.form-btn {
    cursor: pointer;
    background-color: #FBFBFF;
    width: 50px;
    height: 40px;
    position: relative;
    margin: 0 0 1em 0;
    padding:  0;
    background-color: transparent;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    border: none;
    color: #FBFBFF;
}




.AnimBG {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}


.Results {
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 0 ;
    padding: 0 0 3% 0;
}


.main-results {
    position: relative;
    display: flex;
    z-index: 3;
    align-items: center;
    flex-direction: column;
    
}


.main-data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    border-radius: .3em;
    padding: 0 1em 0 1em;
    margin:  2em 0 3em 0;
}

.location {
    color:rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 200;
}

.temp-container {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content:center;
    padding: 0 0 0 6em;
}

.temperature {
    font-size: 70px;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    position: absolute;
    right: 52%;
    
}


.main-btn {
    font-size: 70px;
    border: none;
    color: rgb(255, 255, 255);
    transition: .15s linear;
    background-color: transparent;
    pointer-events: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}


.secondary-btn {
    font-size: 28px;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    transition: .15s linear;
    background-color: transparent;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}


.description {
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-family: 'Encode Sans', sans-serif;
    font-weight: 200;
}

.date-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.today {
    color: #FBFBFF;
    font-size: 25px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 200;
}


.secondary-results {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    justify-content:space-around;
    
}


.sec-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    min-width:140px ;
    height: 100px;
    border-radius: .4em;
    margin: 0 3% 0 3%;
    font-size: 14px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
} 

.feeling-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feeling-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 50%;
    position: relative;
}

.feeling-t {
    font-size: 16px;
    position: relative;
}

.feeling {
    font-size: 16px;
    position: relative;
}


.maxMin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MaxMin-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
    position: relative;
}

.min, .max {
    font-size: 16px;
    position: relative;
}

.icon {
    width: 60px;
    height: 60px;
}

.wind-icon {
    position: relative;
    margin: 5% 0 0 0;
}

.wind {
    position: relative;
    display: inline;
    bottom: 1em;
    font-size: 16px;
}

.humidity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hum-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.humidity {
    position: relative;
    display: inline;
    bottom: 17%;
    font-size: 21px;
}


.sunRiseSet-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sunRise-icon, .sunSet-icon {
    width: 50px;
    height: 50px;
    margin: 0 1em 0 0;
}

.rise-cont, .set-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    position: relative;
}

.set-cont {
    margin: -1em 0 0 0;
}


.sunRise, .sunSet {
    position: relative;
    width: 100%;
}


@media (max-width:480px) {
    .form {
        flex-direction: column;
    }
    .form-input {
        width: 95%;
        font-size: 14px;
    }
    .main-container {
        height: 140vh;
    }
    .form-btn {
        height: 15px ;
        width: 20px;
        margin: 0 0 1em .2em
    }
    
    .location {
        font-size: 19px;
    }
    .temp-container {
        height: 70px;
        width: 100px;
    }
    .temperature {
        font-size: 56px;
    }
    .C-btn {
        font-size: 56px;
    }
    .F-btn {
        font-size:15px;
    }
    .description, .today {
        font-size: 16px;
    }
    .secondary-results {
        flex-wrap: wrap;
        row-gap: 1em;
    }
    .sec-cont{
        font-size: 3px;
        width:110px ;
        height: 80px;
    }
    .feeling-t, .feeling, .max, .min {
        font-size: 13px;
    }
    .wind {
        font-size: 16px;
    }
    .humidity{
        font-size: 19px;
    }
    .icon {
        width: 48px;
        height: 48px;
    }
}


@media (max-width:768px) {
    .secondary-results {
        font-size: 12px;
        flex-wrap: wrap;
        max-width: 70%;
        row-gap: 3em;
    }
    .sec-cont {
        min-width: 110px;
        font-size: 11px;
    }
    
}


@media (min-width:1092px) {
    .secondary-results {
        width: 100%;
    }
}

@media (min-width:1200px) {
    .secondary-results {
        width: 80%;
    }
}

@media (max-width:320px) {
    .main-data-container {
    width: 90%;
    }
    .main-container {
        height: 130vh;
    }
    .Results {
        width: 100%;
    }
    .location {
        font-size: 24px;
        
    }
    .temp-container {
        height: 60px;
        width: 100px;
    }
    .temperature {
    font-size: 46px;
    }
    .C-btn {
    font-size:46px;
    }
    .F-btn {
    font-size:18px;
    }

    .description, .today {
        font-size: 20px;
    }
    .secondary-results {
        flex-wrap: wrap;
        row-gap: .4em;
        max-width: 100%;
    }
    .sec-cont{
        font-size: 10px;
        width:80px ;
        height: 80px;
    }
    
}